<footer>
    <p class="made-with-love-tag">Made with bore by <a href="/about" class="implicit-link">Muen</a></p>
    <HR></HR>
    <ul class="contact">
        <li class="contact-item"><a class="implicit-link" href="mailto:chenmuena@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li class="contact-item"><a class="implicit-link" href="https://github.com/chenmuen" target="blank"><i class="fab fa-github"></i></a></li>
        <li class="contact-item"><a class="implicit-link" href="https://www.linkedin.com/in/muen-chen/" target="blank"><i class="fab fa-linkedin"></i></a></li>
    </ul>
</footer>