<div class="fixed-navbar">
    <div class="container-center">
        {% include navbar.html %}
    </div>
</div>
<header>
    <div class="header-mask"></div>
    <div class="container-center">
        <div class="header-content">
            {% include navbar.html %}

            <div class="header-title">
                {% case page.slogan %}
                    {% when null, "self-intro-chinese" %}
                        <p >你好，我是</p>
                        <p><span class="orange">陈沐恩</span>，</p>
                        <p>一个来自地球的<span class="blue">开发者</span>...</p>
                    {% when "about-me" %}
                        <p>关于<span class="orange">我</span></p>
                        <p>的一些<span class="blue">事情</span>，</p>
                        <p><span class="orange">你</span>也许可以了解一下...</p>
                    {% when "friends" %}
                        <p>比起<span class="orange">我</span>，</p>
                        <p>我觉得<span class="orange">你</span>更应该看看</p>
                        <p>我的大佬<span class="blue">朋友</span>们...</p>
                    {% when "self-intro-english" %}
                        <p>Hi Forks, I Am</p>
                        <p><span class="orange">Muen</span>,</p>
                        <p>A <span class="blue">Developer</span> From</p>
                        <p>Planet Earth...</p>
                    {% else %}
                        <p>{{include.intro}}</p>
                {% endcase %}
                
            </div>
        </div>
    </div>
</header>

