@font-face {
    font-family: 'Brush Script MT';
    src: url('/assets/font/Brush\ Script.ttf') format('ttf'),
}

@font-face {
    font-family: 'Avenir';
    src: url('/assets/font/Avenir.ttc') format('ttc')
}