// Variables
$color-orange: #E1AB51;
$color-blue: #4A90E2;
$color-white: #F9F9F9;

$primary-color: #514A54;

$font-color: lighten($primary-color, 10%);
$font-color-white: $color-white;
$font-color-grey: grey;

$divider-color: lightgrey;

$background-color: $color-white;

// Basic Style

// Remove scrollBar width
html {
    margin: 0;
    padding: 0;
    overflow-y: overlay;
}

p {
    margin: 0
}

a {
    color: $color-orange
}

body,td,th {
    font-family: Avenir, Arial;
    font-size: 16px;
    color: $font-color;
    background-color: $background-color;
}

ul {
    padding-left: 1em;
}

img {
    max-width: 100%;
}

// General Component
.container-center {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 800px;
}

.implicit-link {
    transition: all 0.2s;
    color: inherit;
    text-decoration: none;

    &:hover {
        transition: all 0.2s;
        color: $color-orange;
    }
}

.filler {
    flex-grow: 1;
}

.orange {
    color: $color-orange
}

.blue {
    color: $color-blue
}

// Header
.header-mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: rgba($color: $primary-color, $alpha: 0.8);
}

header {
    position: relative;
    background: url('/assets/img/title-background.jpg') center top no-repeat;
    background-size: cover;
    z-index: 1;
}

header .header-content {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    height: 400px;
    position: relative;
    z-index: 2;
    color: $font-color-white;

    .nav-bar {
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        .logo {
            margin: 0;
            font-size: 48px;
            font-family: Brush Script MT;
        }
    
        .navigation {
            padding: 10px 0;
    
            .nav-link {
                margin-right: 10px;
    
                font-size: 14px;
                color: $font-color-white;
                text-decoration: none;
    
                &.nav-link-active, &:hover {
                    border-bottom: solid 1px $font-color-white;
                }
            }
        }
    }

    .header-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        width: 100%;
        font-size: 30px;
        font-weight: bold;
        line-height: 1.5em;
        // text-transform:uppercase;
    }
}

// Footer
footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 50px 0;

    HR {
        margin: 10px;
        width: 250px;
    }

    ul.contact {
        display: flex;
        flex-direction: row;
        @include remove-list-style;

        .contact-item {
            margin: 0 10px;
            font-size: 1.2em;
        }
    }
}

// Posts & Article page
ul.post-list {
    @include remove-list-style;

    li.post-item {
        padding: 70px 0;
        &:not(:first-child) {
            border-top: solid 2px $divider-color;
        }
    }
}

.article {
    padding: 70px 0;
    width: 100%;
}

.post-title {
    margin-bottom: 15px;
    font-size: 28px;
}

.post-excerpt {
    margin-bottom: 15px;
    line-height: 1.5em;
}

ul.post-info-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    @include remove-list-style;

    li.post-info-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $font-color-grey;

        &:not(:first-child)::before {
            content: "";
            $radius: 2px;
            margin: 0 10px;
            width: $radius;
            height: $radius;
            border-radius: $radius;
            background-color: $font-color-grey;
        }
    }    
}

.post-content {
    margin-top: 15px;
    line-height: 1.5em;
}

ul.paginator {
    @include remove-list-style;

    display: flex;
    margin-top: 60px;
}

// Markdown Style
blockquote {
    margin: 1em 0;
    border-left: solid 2px lighten($primary-color, 20%);
    color: lighten($primary-color, 20%);
    padding: 0 1em;
}

pre.highlight {
    overflow-x: auto ;
}